<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<meta name="Robots" content="noindex,nofollow" />
<roundcube:include file="/includes/links.html" />
</head>
<body>
<div id="taskbar"></div>

<roundcube:object name="message" id="message" />

<div id="login-form">
<div class="boxtitle"><roundcube:label name="welcome" /></div>
<div class="boxcontent">

<form name="form" action="./?_task=settings&_action=plugin.new_password_do" method="post">
	<input type=hidden name="_t" value="<roundcube:var name="request:_t" />">
<table>
	<tbody>
	<tr>
		<td class="title">
			<label for="_new_password"><roundcube:label name="forgot_password.new_password" /></label>:
		</td>
		<td>
			<input type="password" size="35" maxlength="320" id="_new_password" name="_new_password">
		</td>
	</tr>
	<tr>
		<td class="title">
			<label for="_new_password_confirmation"><roundcube:label name="forgot_password.new_password_confirmation" /></label>:
		</td>
		<td>
			<input type="password" size="35" maxlength="320" id="_new_password_confirmation" name="_new_password_confirmation">
		</td>
	</tr>
	</tbody>
</table>
<p style="text-align:center;">
<input type="submit" class="button mainaction" value="<roundcube:label name='forgot_password.forgot_passwordresetpw' />" />
<span>&nbsp;&nbsp;</span>
<input type="button" onclick="document.location.href='./'" class="button" value="<roundcube:label name='forgot_password.forgot_passwordexit' />" />
</p>

</form>
</div>
</div>

</body>
</html>
